# sequencing / alignments
*.bam
*.bai
*.sam
*.fastq.gz
*.fq.gz

# variant files
*.vcf
*.vcf.gz

# logs / slurm
*.out
*.err
*.log

# large reports
*.html
*.pdf

# raw tool output dirs 
results/prokka_canu/
